<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>homepage</title>
    <link rel="stylesheet" href="./styles/style.css" />
  </head>
  <body>
    <h1>Common Programming Languages</h1>
    <br />
    <br />

    <!-- Method 1 : Test whether we can show the name of language -->
    <!-- <% languages.forEach(lang=>{ %> -->
    <!-- <p><%= lang.name %></p> -->
    <!-- <% }) %> -->
    <!-- Method 2 : Construct the table -->
    <table>
      <tr>
        <th>name</th>
        <th>rating</th>
        <th>popularity</th>
        <th>trending</th>
      </tr>
      <% languages.forEach(lang=>{ %>
      <tr>
        <td><%=lang.name %></td>
        <td><%=lang.rating %></td>
        <td><%=lang.popularity %></td>
        <td><%=lang.trending %></td>
        <% }) %>
      </tr>
    </table>
  </body>
</html>
